<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rest Countries | Django</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
</head>
<body>
    <h1>All Countries ({{countries|length}})</h1>
    <table class="table table-hover table-striped table-sm" id="mytable">
        <thead class="thead-dark">
            <tr>
                <th>Sr. No</th><th>Name</th>
                <th>Capital</th><th>Population</th><th>Area</th><th>Flag</th>
            </tr>
        </thead>
        <tbody>
            <script>var c=1;</script>
            {% for i in countries %}
                <tr>
                    <td><script>document.write(c);c++;</script></td>
                    <td>{{i.name}}</td>
                    <td>{{i.capital}}</td>
                    <td>{{i.population}}</td>
                    <td>{{i.area}}</td>
                    <td><img src="{{i.flag}}" style="height: 150px;width: 200px;"></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <script src="{% static 'jquery.js' %}"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>

    <script>
        $(function(){
            $("#mytable").DataTable();
        });
    </script>
</body>
</html>