<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    
    <div class="container bg-secondary p-5">
        <h1>MY GALLERY</h1>
        <div class="row">
            <div class="col-md-4">
                <img src="{% static 'images/bg.jpg' %}" class="w-100 rounded">
            </div>
            <div class="col-md-4">
                <img src="/static/images/download.jpg" class="w-100 rounded">
            </div>
            <div class="col-md-4">
                <img src="/static/images/laptop.jpg" class="w-100 rounded">
            </div>
        </div>
    </div>  
</body>
</html>