<div style="width:30%;margin:auto;padding:20px;box-shadow:0px 0px 10px black;"><img src=https://restcountries.eu/data/aus.svg style="height:200px;width:100%;"><h1>Australia</h1><h4>Population: 24117360</h4><h4>Area: 7692024.0</h4><p>Borders: []</p></div>