<div style="width:30%;margin:auto;padding:20px;box-shadow:0px 0px 10px black;"><img src=https://restcountries.eu/data/can.svg style="height:200px;width:100%;"><h1>Canada</h1><h4>Population: 36155487</h4><h4>Area: 9984670.0</h4><p>Borders: ['USA']</p></div>