body{
    background:url('../images/bg.jpg');
    background-size: 100% 100%;
    background-attachment: fixed;
}
form{
    width: 70%;text-align: center;
    margin:100px auto;padding: 20px;
    background-color: rgba(0,0,0,0.5);
    color: white;
}
input[type='text'],.myinput, select,textarea{
    width: 100%;transition: 1s;
}
.myinput, select{
    height: 30px; margin-top: 20px;
}
input[type='submit'],input[type='reset']{
    width: 100%;height: 40px;border: none;
    background:linear-gradient(to left,magenta,blue);
    border-radius: 20px;color:white;
    margin-top:10px;
}
.myinput:focus{
    outline: none;border: 2px solid black;
}