{% extends "header_footer.html" %}
{% load static %}
{% block content %}
 <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1>About Page</h1> <hr/>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero eveniet maxime consectetur aliquid eum unde dolorum expedita iste doloribus! Debitis et reprehenderit temporibus iste ab animi velit in mollitia veniam.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero eveniet maxime consectetur aliquid eum unde dolorum expedita iste doloribus! Debitis et reprehenderit temporibus iste ab animi velit in mollitia veniam.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero eveniet maxime consectetur aliquid eum unde dolorum expedita iste doloribus! Debitis et reprehenderit temporibus iste ab animi velit in mollitia veniam.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero eveniet maxime consectetur aliquid eum unde dolorum expedita iste doloribus! Debitis et reprehenderit temporibus iste ab animi velit in mollitia veniam.
                </p>
            </div>
            <div class="col-md-4">
                <img src="{% static 'images/download.jpg' %}" style="width: 100%;height:200px;">
            </div>
            <div class="col-md-4">
                <img src="{% static 'images/download.jpg' %}" style="width: 100%;height:200px;">
            </div>
            <div class="col-md-4">
                <img src="{% static 'images/download.jpg' %}" style="width: 100%;height:200px;">
            </div>
            <div class="col-md-4">
                <img src="{% static 'images/download.jpg' %}" style="width: 100%;height:200px;">
            </div>
            <div class="col-md-4">
                <img src="{% static 'images/download.jpg' %}" style="width: 100%;height:200px;">
            </div>
            <div class="col-md-4">
                <img src="{% static 'images/download.jpg' %}" style="width: 100%;height:200px;">
            </div>
        </div>
    </div>
{% endblock %}