{% extends "header_footer.html" %}
{% load static %}
{% block content %}
<div class="container-fluid my-4">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <h4>CONTACT US</h4>
            <form action="">
                <div class="form-group">
                    <label for="">Name</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">Email</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">Message</label>
                    <textarea class="form-control" id="" cols="30" rows="10"></textarea>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-success" value="Send Message">
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}