<!DOCTYPE html>
<html lang="en">
<head>
  <title>My Website</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<header>
    <nav class="navbar navbar-expand bg-dark navbar-dark">
        <a class="navbar-brand" href="{% url 'home' %}">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'about' %}">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'contact_us' %}">Contact</a>
            </li>    
            <li class="nav-item">
              <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
            </li>    
          </ul>
        </div>  
      </nav>
</header>
<section>
{% block content %}{% endblock %}
</section>
<footer>
    <div class="container-fluid bg-dark text-white">
        <div class="row">
            <div class="col-md-4">
                <h4>MyWebsite</h4>
                <p><small>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis magni soluta quae molestias ipsum earum vitae ullam error expedita quibusdam, ipsam nostrum ipsa. Quae non consequuntur rerum nisi sit veritatis!</small></p>
            </div>
            <div class="col-md-4">
                <h4>Other Pages</h4>
                <ol type="none">
                    <li><a href="" class="text-light">Home</a></li>
                    <li><a href="" class="text-light">About</a></li>
                    <li><a href="" class="text-light">Contact</a></li>
                    <li><a href="" class="text-light">Admin</a></li>
                </ol>
            </div>
            <div class="col-md-4">
                <h4>Contact Us</h4>
                <p>info@mywebsite.com</p>
                <p>+91 9898989898</p>
                <p>(0176) 27677777</p>
            </div>
        </div>
    </div>
</footer>
</body>
</html>


