<!DOCTYPE html>
<html lang="en">
<head>
    <title>HTML Basics</title>
    <style>
        h1{
            color: red;
        }
        
    </style>
</head>
<body>
    <h1>LOREM IPSUM</h1>
    <hr>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia quas fugiat, quia fuga quam iusto obcaecati ipsam at neque corrupti libero labore! Saepe magni eum error suscipit, commodi autem possimus?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia quas fugiat, quia fuga quam iusto obcaecati ipsam at neque corrupti libero labore! Saepe magni eum error suscipit, commodi autem possimus?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia quas fugiat, quia fuga quam iusto obcaecati ipsam at neque corrupti libero labore! Saepe magni eum error suscipit, commodi autem possimus?
    </p>
    <h2>Total Colors ({{col|length}})</h2>
    <ol>
    {% for i in col %}
        <li style="color: {{i}};">{{i|upper}}</li>
    {% endfor %}
    </ol>
</body>
</html>